*{
    margin-top: 0px;
    background-color: rgb(198, 201, 219);
    color: rgb(10, 9, 9);
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    min-height: 600px;
}
h1{
    padding:200px;
}
