<div class="container-fluid mb-5">
    <!-- {{register.value|json}} -->
    {{login.value | json}}
    <form [formGroup]="login">

     <!-- Email  -->
     <div class="form-group">
    <label class="badge-dark p-2">Email address</label>
    <input [class.is-invalid]="email.invalid &&email.touched"
    formControlName=email   class="form-control"  
     placeholder="Enter email" 
     email="true"    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">

     
     <div *ngIf="email.errors &&(email.invalid || email.touched)">
      <small class="text-danger" *ngIf="email.errors.required&&email.touched">Email is required</small>
      <small class="text-danger" *ngIf="email.errors.pattern">Email Should have @ex.xx</small>   
  </div>
  </div>
    
 
  
    <!-- Password1 -->
    <div class="form-group">
 <label class="badge-dark p-2" for="exampleInputPassword1">Password</label>
      <input type="password" formControlName=password name="password" class="form-control"
      [class.is-invalid]="password.invalid && password.touched"
      placeholder="Password">
      <small class="text-danger" [class.d-none]="password.valid ||password.untouched"
      >Password is Required </small>
    
     
    </div>
   
    <!-- Select -->
 
<button type="submit" 
class="btn-lg btn-primary">Login</button>
    
  </form>
 
</div>